env/
media/
info.log
error.log
debug.log

__pycache__/
*.pyc

db.sqlite3
media/
__pycache__/
*/__pycache__/*
*.log
*.pot
*.pyc
*.pyo
.vscode/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
db.sqlite3
env/
venv/
*.swp
.mypy_cache/
.coverage
*.egg-info/
instance/
*.DS_Store
.env
staticfiles/

dump.rdb
db.sqlite3-journal